
.HelpWidgetType-new-bug-title {
    float: left;
}
.HelpWidgetType-new-bug-title   {
    float: left;
}
.HelpWidgetType-new-bug-title	{   
    float: left;   
}
    
.HelpWidgetType-new-bug-title{
    float: left;
}

/* @codingStandardsChangeSetting Snake.WhiteSpace.SuperfluousWhitespace ignoreBlankLines true */
.HelpWidgetType-new-bug-title{
    float: left;
}
    
.HelpWidgetType-new-bug-title{
    float: left;
}
/* @codingStandardsChangeSetting Snake.WhiteSpace.SuperfluousWhitespace ignoreBlankLines false */

